/* Ed's Programming Portfolio - External Stylesheet */
/* border-box style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Imported Google Fonts */
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCu6KVjbNBYlgoKej70l0k.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCp6KVjbNBYlgoKejYHtFyPN4E.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCjC3jsGyN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Unna';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/unna/v16/AYCKpXzofN0NOpo7l0nG.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Unna';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/unna/v16/AYCJpXzofN0NOpozLGzTR3Jv.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Unna';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/unna/v16/AYCEpXzofN0NOp8LlQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Unna';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/unna/v16/AYCLpXzofN0NMiQugG7jRQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* Page Styling */
body {
    background-color: #700D00;
    font-size: 20px;
    font-family: Unna, "Times New Roman", serif;
    font-weight: 400;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Header & Nav*/
header {
    background-color: #700D00;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    width: 95%;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    color: #FFEED9;
    background-color: #4A0B02;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 0;
    height: 8rem;
    border: #FFD8A6 solid 2px;
    border-radius: 4rem;
}

.header figure {
    margin: 0;
    padding: 0;
    float: left;
}

.header figure img {
    max-height: 8rem;
    width: auto;
    border-radius: 50%;
    border: #FFD8A6 solid 1px;
    margin-top: 5px;
}

.header h1 {
    text-shadow: 0.2rem 0.2rem black;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2.5rem;
}

.shortTitle {
    display: none;
}

.header nav {
    text-align: right;
    margin-right: 2rem;
}

nav ul li {
    list-style-type: none;
    margin-right: 1rem;
    font-size: 1.5rem;
    text-shadow: 0.2rem 0.2rem black;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #FFEED9;
}

nav a:visited {
    color: #FFEED9;
}

nav a:hover {
    color: #ffd8a6bb;
}


/* Main Content */
main {
    width: 95%;
    display: grid;
    margin: 1rem;
    grid-template-columns: 1fr 3fr;
    padding-top: 9rem;
    column-gap: 1rem;
}

main a {
    text-decoration: underline;
    padding: 0.5rem;
    border-radius: 5px;
}

main a:link {
    color: #700D00;
}

main a:visited {
    color: #700D00;
}

main a:hover {
    color: #FFEED9;
    background-color: #700D00;
}


/* Main Content - smallScreen Nav Bar */
.smallScreenNavBar {
    display: none;
}


/* Main Content - projectSidebar */
.projectSidebar {
    background-color: #FFD8A6;
    border-radius: 1rem;
    padding: 1rem;
    min-width: 16rem;
}

.projectSidebar h2 {
    font-family: Ubuntu, sans-serif;
    font-size: 2rem;
    color: #4A0B02;
    text-shadow: 0.06rem 0.06rem #700D00;
}

.projectSidebar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectSidebar ul li {
    list-style-type: none;
    padding: 0.5rem;
}

.projectSidebar button {
    font-family: Ubuntu, sans-serif;
    font-size: 1.5rem;
    color: #FFEED9;
    text-shadow: 0.03rem black;
    background-color: #700D00;
    border: black solid 2px;
    padding: 0.5rem;
    border-radius: 1.5rem;
    text-align: center;
    width: 11rem;
}

.projectSidebar button:hover {
    background-color: #4A0B02;
    color: white;
    cursor: pointer;
}


/* Main Content - mainPage */
.mainPage {
    background-color: #FFEED9;
    border-radius: 1.5rem;
}

#projectArticleWrapper {
    background-color: #FFD8A6;
}

.mainPage h2 {
    font-family: Ubuntu, sans-serif;
    font-size: 2.5rem;
    padding: 1rem;
    color: #4A0B02;
    text-shadow: 0.06rem 0.06rem #700D00;
}

.mainPage img {
    float: right;
    max-width: 33%;
    height: auto;
    margin: 1rem;
    border-radius: 1rem;
    border: #4A0B02 solid 1px;
}

.mainPage h3, h4 {
    font-family: Ubuntu, sans-serif;
    color: #4A0B02;
    padding: 1rem;
}

.mainPage p {
    line-height: 2rem;
    padding: 1rem;
}

.projectArticle {
    background-color: #FFEED9;
    margin: 1rem;
    padding: 1rem;
    border: #4A0B02 solid 3px;
    border-radius: 1.5rem;
}

.projectArticle img {
    width: 240px;
}


/* Footer */
footer {
    width: 100%;
    font-weight: 400;
    color: #FFEED9;
    background-color: #4A0B02;
    padding: 1rem;
    line-height: 2.5rem;
    border-top: #FFD8A6 solid 1px;
    text-align: center;
}

footer nav {
    font-family: Ubuntu, sans-serif;    
}
footer nav ul li {
    display: inline-block;
}


/* Media Query for smaller screens (tablet size) */
@media only screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }
    .header h1 {
        font-size: 2rem;
    }
    .title {
        display: none;
    }
    .shortTitle {
        display: block;
    }
    .header nav {
        margin-right: 1rem;
    }
    .header nav ul li {
        font-size: 1.2rem;
    }
    main {
        display: block;
    }
    .projectSidebar {
        display: none;
        margin-bottom: 1rem;
    }
    .projectSidebar h2 {
        font-size: 1.3;
    }
    .mainPage {
        width: 100%;
        padding-bottom: 0.2rem;
    }
    .mainPage h2 {
        /* font-size: 1.5rem; */
    }
    .projectArticle {
        padding: 0.5rem;
    }
}


/* Media Query for small screens (phone size) */
@media only screen and (max-width: 480px) {
    .header nav {
        display: none;
    }
    .smallScreenNavBar {
        display: block;        
        text-align: center;
        margin-bottom: 1rem;
    }
    .smallScreenNavBar ul li {
        display: inline-block;        
        text-shadow: none;
        background-color: #4A0B02;
        border: 2px solid #FFD8A6;
        border-radius: 1.5rem;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .smallScreenNavBar ul li a {
        color: #FFEED9;
        text-decoration: none;
    }
}