body {
    background-color: black;
    color: green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

h1 {
    font-weight: normal;
    font-size: 60px;
}

nav {
    text-align: left;
}

nav ul li a {
    color:goldenrod;
    font-size: 22px;
    font-style: normal;
}

footer {
    font-size: 0.8em;
    color: white;
    text-align: center;
}